body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust the width of each column */
    gap: 0;
    text-align: center;
    margin: 20px;
  }

  .grid-item {
    width: 100px; /* Make the buttons square */
    height: 100px; /* Make the buttons square */
    padding: 10px;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, 0);
    font-size: 60px;
    cursor: pointer;
    box-sizing: border-box;
  }