{% extends "base.html" %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='tic.css')}}">
    </head>
    <form action="{{url_for('make_move')}}" method="post">
        <div class="grid-container">
            <button name="position" type="submit" class="grid-item" value="0-0">{{game_state[0][0]}}</button>
            <button name="position" class="grid-item" value="0-1">{{game_state[0][1]}}</button>
            <button name="position" class="grid-item" value="0-2">{{game_state[0][2]}}</button>
            <button name="position" class="grid-item" value="1-0">{{game_state[1][0]}}</button>
            <button name="position" class="grid-item" value="1-1">{{game_state[1][1]}}</button>
            <button name="position" class="grid-item" value="1-2">{{game_state[1][2]}}</button>
            <button name="position" class="grid-item" value="2-0">{{game_state[2][0]}}</button>
            <button name="position" class="grid-item" value="2-1">{{game_state[2][1]}}</button>
            <button name="position" class="grid-item" value="2-2">{{game_state[2][2]}}</button>
        </div>
    </form>
{% endblock %}